pager .pagination {
    margin: 0;
}

.grid-sort-arrow {
    fill: gainsboro;
    stroke: gray;
    stroke-width: 1;
}

.grid-overlay {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
}

.grid-progress-indicator {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    width: 10%;
}

.grid-summary {
	text-align: right;
}